@import "variables";

.header-container {
    max-width: 100%;
    display: flex;
    padding: 3% 0;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    gap: 13.8%;

    .header-logo {
        color: $text-black;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header-button_drop-down {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 10%;
        margin-left: 3.3%;
        margin-top: .4%;
        width: 27.5%;

        .header-list_item {
            color: $text-grey;
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        .header-list_item:hover,
        .header-list_item:focus {
            color: $text-black;
            font-weight: 900;
            transform: scale(1);
            transition: transform 1s ease;
        }
    }

    .header-icons {
        gap: 30%;
        width: 11%;
        display: flex;
        margin-top: 0.4%;
        padding-left: 1.5%;
    }

    .header-icon:hover,
    .header-icon:focus {
        transform: scale(1.1);
        transition: transform 1s ease;
    }

    .header-basket {
        position: relative;
    }

    .header-basket_count {
        background: #FF353A;
        border-radius: 10px;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        height: 13px;
        line-height: normal;
        position: absolute;
        right: -30%;
        text-align: center;
        top: 44%;
        width: 13px;
        font-family: Montserrat;
        text-transform: capitalize;
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .header-container {
        gap: 10.8%;

        .header-list {
            gap: 6%;
            width: 30%;

            .header-list_item {
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .header-container {
        gap: 7.8%;

        .header-logo {
            font-size: 20px;
        }

        .header-list {
            gap: 6%;
            width: 33%;

            .header-list_item {
                font-size: 8px;
            }
        }

        .header-icon {
            width: 115%;
        }

        .header-basket_count {
            right: -89%;
            top: 33%;
        }
    }
}

@media screen and (max-width: 415px) {
    .header-container {
        gap: 2.8%;

        .header-button_drop-down {
            display: flex;
            width: 35%;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .header-button_drop-down:hover,
        .header-button_drop-down:focus {
            font-weight: 900;
            transform: scale(1);
            transition: transform 1s ease;
            color: #1C2A39;
        }

        .header-button_drop-down.open {
            font-weight: 900;
            transform: scale(1);
            transition: transform 1s ease;
            color: #1C2A39;
        }

        .header-button_drop-down.open {
            font-weight: 900;
            transform: scale(1);
            transition: transform 1s ease;
            color: #1C2A39;
        }

        .header-list.menu_active {
            transform: translateX(0%);
            transition: transform 1s ease;
        }

        .header-list {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 50;
            top: 81%;
            background-color: white;
            right: 0;
            width: 42%;
            transform: translateX(100%);

            .header-list_item {
                display: flex;
                color: $text-grey;
                font-family: Montserrat;
                font-size: 9px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 2% 9%;
            }
        }

        .header-icons {
            gap: 29%;
            width: 19%;
            display: flex;
            align-items: flex-end;
            padding-left: 1.5%;

            .header-icon {
                width: 126%;
            }
        }

        .header-basket_count {
            right: -89%;
            top: 33%;
        }
    }
}