@import "variables";

header {
    max-width: 100%;
    display: flex;
    padding: 3% 0;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;


    .logo {
        color: $text-black;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .list {
        display: flex;
        gap: 10%;
        margin-left: 2.3%;
        margin-top: .4%;
        width: 28%;

        .list__item {
            color: $text-grey;
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }

    }

    .icons {
        gap: 26%;
        width: 11%;
        display: flex;
        margin-top: 0.4%;
        padding-left: 0.5%;



    }

    .basket {
        position: relative;
    }

    .basket_count {
        background: #FF353A;
        border-radius: 10px;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        height: 13px;
        line-height: normal;
        position: absolute;
        right: -30%;
        text-align: center;
        top: 44%;
        width: 13px;
        font-family: Montserrat;
        text-transform: capitalize;
        display: none; /* Начально скрываем .basket_count */
    }

}

.header-container {
    z-index: 100;
    gap: 13.8%;
  }