.isade-container {
    background: #EFEEF6;
    max-width: 29%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    margin-top: 6.6%;
    padding-top: 3.5%;

    .isade-menu {
        width: 47%;

        .isade-menu_list {
            display: flex;
            flex-direction: column;
            padding-bottom: 31%;

            .isade-category {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 11.3%;
                padding-left: 25.3%;

                .category-link:not(.active-category) {
                    color: $text-grey;
                }
            }

            .active-category {
                color: $text-black;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
                position: relative;
            }

            .active-category::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -23px;
                transform: translateY(-50%);
                width: 27px;
                /* Ширина изображения */
                height: 7px;
                /* Высота изображения */
                background-image: url(../img/Ellipse.svg);
                background-repeat: no-repeat;
            }

            .category-link:hover {
                color: $text-black;
                font-family: Montserrat;
                font-weight: 700;
                text-transform: capitalize;
                transform: scale(1.1);
                /* Увеличиваем масштаб на 10% */
                transition: transform 0.3s ease;
                /* Добавляем плавный переход */
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .isade-container {
        max-width: 23%;

        .isade-menu {

            .isade-menu_list {

                .active-category {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .isade-container {
        max-width: 33%;
    }
}

@media screen and (max-width: 415px) {
    .isade-container {
        max-width: 47%;
        transition: 1s;
        transform: translateX(-100%);
    }

    .menu_active {
        transform: translateX(0%);
        position: relative;
        z-index: 8;
    }
}