.isade-container {
    background: #EFEEF6;
    max-width: 29%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    margin-top: 6.6%;
    padding-top: 3.5%;

    .isade-menu {
        width: 34%;

        .isade-menu_list {
            display: flex;
            flex-direction: column;
            padding-bottom: 39%;
            color: $text-grey;


            .category {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 15.9%;
                padding-left: 15.3%;
                color: #E3B873;



                .category-link:not(.active-category) {
                    color: $text-grey;
                }

                .category-link:hover {
                    color: var(--text-black, #1C2A39);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                    transform: scaleX(0);
                    transition: font-size 2s;
                    transition: font-weight 2s;
                    background-image: url(../img/Ellipse.svg);
                    background-position: 6px 50%;
                    background-repeat: no-repeat;
                    padding-left: 14%;
                }

                .category-link:focus {
                    color: var(--text-black, #1C2A39);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                    background-image: url(../img/Ellipse.svg);
                    background-position: 6px 50%;
                    background-repeat: no-repeat;
                    padding-left: 14%;
                    // transform: scaleX(2);
                    // transition: transform 0.2s ease-in-out;
                }

            }
        }
    }
}