.section-container_fixed {
    max-width: 1120px;
    margin: 0 auto;

    .section-container {

        .section-container_book {
            max-width: 1124px;
            margin-top: 13%;
            margin-left: 13.6%;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 6.5%;
            position: absolute;
            margin-top: -46%;

            .book-card {
                display: flex;
                gap: 36px;
                margin-bottom: 8.4%;

                .image {
                    width: 212px;
                    height: 300px;
                    filter: drop-shadow($shadow-black);
                }

                .info-books {
                    max-width: 176px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;

                    .authors {
                        color: $text-grey;
                        font-family: Open Sans;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: capitalize;
                        text-shadow: $shadow-black;
                    }

                    .title {
                        color: $text-black;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 700;
                        text-shadow: $shadow-black;
                    }

                    .ratings-box {
                        display: flex;
                        max-width: 80%;
                        margin-bottom: 12px;

                        .ratings-count {
                            color: $text-grey;
                            font-family: Open Sans;
                            font-size: 10px;
                            font-weight: 400;
                            padding-left: 8%;
                            text-shadow: $shadow-black;
                        }
                    }

                    .description {
                        color: $text-grey;
                        font-family: Open Sans;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: capitalize;
                        margin-bottom: 12px;
                        text-shadow: $shadow-black;
                    }

                    .retail-prise {
                        color: $text-black;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 12px;
                        text-shadow: $shadow-black;
                    }

                    .button-buy {
                        color: $button;
                        font-family: Montserrat;
                        font-size: 8px;
                        font-weight: 700;
                        text-transform: uppercase;
                        width: 176px;
                        height: 45px;
                        border: 1px solid $button;
                        filter: drop-shadow($shadow-black);
                    }
                }
            }
            
            .books-button_more {
                color: $button;
                font-family: Montserrat;
                font-size: 8px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                justify-content: space-around;
                margin-left: 34.2%;
                padding: 1.5% 3.5%;
                width: 15.8%;
                border: 1px solid $button;
                filter: drop-shadow($shadow-black);
                margin-bottom: 10.5%;
                order: 999;
            }
        }
    }
}
