.section-container_fixed {
    max-width: 1120px;
    margin: 0 auto;

    .section-menu-btn {
        display: none;
    }

    .section-container {

        .section-container_book {
            max-width: 1100px;
            margin-top: 13%;
            margin-left: 13.6%;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 6.5%;
            position: absolute;
            margin-top: -46%;

            .book-card {
                display: flex;
                gap: 36px;
                margin-bottom: 8.4%;

                .image {
                    width: 212px;
                    height: 300px;
                    filter: drop-shadow($shadow-black);
                }

                .info-books {
                    max-width: 176px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;

                    .authors {
                        color: $text-grey;
                        font-family: Open Sans;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: capitalize;
                        text-shadow: $shadow-black;
                    }

                    .title {
                        color: $text-black;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 700;
                        text-shadow: $shadow-black;
                    }

                    .ratings-box {
                        display: flex;
                        max-width: 80%;
                        margin-bottom: 12px;

                        .ratings-count {
                            color: $text-grey;
                            font-family: Open Sans;
                            font-size: 10px;
                            font-weight: 400;
                            padding-left: 8%;
                            text-shadow: $shadow-black;
                        }
                    }

                    .description {
                        color: $text-grey;
                        font-family: Open Sans;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: capitalize;
                        margin-bottom: 12px;
                        text-shadow: $shadow-black;
                    }

                    .retail-prise {
                        color: $text-black;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 12px;
                        text-shadow: $shadow-black;
                    }

                    .button-buy {
                        color: $button;
                        font-family: Montserrat;
                        font-size: 8px;
                        font-weight: 700;
                        text-transform: uppercase;
                        width: 176px;
                        height: 45px;
                        border: 1px solid $button;
                        filter: drop-shadow($shadow-black);
                    }
                }
            }

            .books-button_more {
                color: $button;
                font-family: Montserrat;
                font-size: 8px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                justify-content: space-around;
                margin-left: 34.2%;
                padding: 1.5% 3.5%;
                width: 15.8%;
                border: 1px solid $button;
                filter: drop-shadow($shadow-black);
                margin-bottom: 10.5%;
                order: 999;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .section-container_fixed {
        max-width: 960px;

        .section-container {

            .section-container_book {
                max-width: 852px;
                gap: 5.5%;
                margin-top: -54%;
                padding-left: 5%;

                .book-card {
                    gap: 28px;

                    .image {
                        width: 169.6px;
                        height: 240px;
                    }

                    .info-books {

                        .button-buy {
                            width: 158.4px;
                            height: 40.5px;
                            font-size: 9px;
                        }
                    }
                }

                .books-button_more {
                    font-size: 9px;
                    margin-left: 38.2%;
                    padding: 2% 3.8%;
                    width: 19.8%;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .section-container_fixed {
        max-width: 768px;

        .section-container {

            .section-container_book {
                max-width: 482px;
                margin-top: -71%;
                transition: 0.5s;
                position: relative;
                margin-left: 26.6%;

                .book-card {
                    margin-bottom: 9.4%;

                    .image {
                        width: 212px;
                        height: 300px;
                    }

                    .info-books {

                        .button-buy {
                            width: 145px;
                        }
                    }
                }

                .books-button_more {
                    padding: 2.5% 3.8%;
                    width: 27.8%;
                    margin-left: 26.2%;
                }
            }

            .section-container_book-active {
                transform: translateX(150%);

            }
        }
    }
}

@media screen and (max-width: 415px) {
    .section-container_fixed {
        max-width: 374px;

        .section-menu-btn {
            position: absolute;
            z-index: 10;
            display: flex;
            top: 49%;
            left: 0%;
        }

        .section-container {

            .section-container_book {
                max-width: 340px;
                margin-top: -137%;
                transition: 0.5s;
                position: relative;
                margin-left: 4.6%;

                .book-card {
                    margin-bottom: 9.4%;

                    .image {
                        width: 127.2px;
                        height: 180px;
                    }

                    .title {
                        font-size: 14px;
                    }

                    .info-books {


                        .title {
                            font-size: 14px;
                        }

                        .ratings-box {
                            margin-bottom: 2px;
                        }

                        .description {
                            margin-bottom: 8px;
                        }

                        .button-buy {
                            width: 120px;
                        }
                    }
                }

                .books-button_more {
                    padding: 4.3% 3.8%;
                    width: 39.8%;
                    margin-left: 26.2%;
                }
            }
        }
    }
}